* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

 body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}


body{
    font-size: 1rem;
    color: #18104B;

}

h1{
    font-family: 'Sen', sans-serif;
    font-weight:bolder;
    color: #18104B;
    margin: 0;

}

h2{
    font-family: 'Sen', sans-serif;
    font-weight: bolder;
    color: #18104B;

}

h3{
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    padding-top: 3rem;
}

p, ul, ol, a, figcaption{
    font-family: 'Lato', sans-serif;
}

figure{
    text-align: center;
}

figcaption{
    font-size: 0.90rem;
    font-style: italic;
    padding-bottom: 1.5rem;
}

/*ul{
    list-style: none;
}*/

.process-lists{
    margin: auto;
    padding-left: 1.5rem;
    line-height: 1.75rem;
}

.no-bullet{
    list-style: none;
}

a{
    display: inline-block;
    color: #F14751;
    text-decoration: underline;
}

a:active, a:hover, a:focus{
    color: #18104B;
    text-decoration: none;
}

nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 1rem;
    background-color: #F14751;
}


.my-name{
    letter-spacing: 2px;
    font-size: 20px;
}

.my-name a {
    font-family: 'Sen', sans-serif;
    color: #FCF8E8;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 30px;
}

.my-name a:active, .my-name a:hover, .my-name a:focus {
    background-color: #18104B;
    color: #F14751;
}

.nav-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    font-family: 'Sen', sans-serif;
    color: #FCF8E8;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 15px 30px;
}

.nav-menu a:active, .nav-menu a:hover, .nav-menu a:focus{
    background-color: #18104B;
    color: #F14751;
}

.landing-banner{
    padding: 3rem 0rem;
    background-color: #FFD692;
}

.landing-banner-heading{
    font-size: 1.6rem;
    letter-spacing: 2px;
    padding: 0rem 1rem 1rem 1rem;
    text-align: center;
}

.landing-banner-tag{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0rem 1rem 0rem 1rem;
    text-align: center;
}

.landing-image-container{
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
}


.text-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FCF8E8;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-box h2{
    font-size: 1rem;
    line-height: 1.75rem;
}



.landing-image-container img{
    max-width: 90%;
    height: auto;
}

.about-me{
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 1rem;
    background-color: #FCF8E8; 
}

.about-me-image{
    text-align: center;
}

.about-me img{
    max-width: 50%;
    height: auto;
}

.about-me-text{
    padding: 1.5rem 0rem;
}

.about-me-text h2{
    font-size: 1.5rem;
    padding-bottom: 1.3rem;
    font-weight: bolder;
}

.about-me-text p{
    font-size: 0.90rem;
    line-height: 1.75rem;
}

.projects-container{
    padding-top: 6rem;
    width: 90%;
    max-width: 890px;
    margin: auto;
}

.project-grid{
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
}

.project-grid img{
    max-width: 90%;
    height: auto;
}

.col-one{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.col-one h2{
    font-family: 'Sen', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem 0rem 1rem 0rem;
}

.col-one p{
    font-size: 0.90rem;
    line-height: 1.75rem;
}

.project-type{
    font-family: 'Sen', sans-serif;
    color: #18104B;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.button-purple{
    padding: 0.75rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    color:#FCF8E8;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color:#F14751;
    border-radius: 5rem;
    transition-property: background-color; 
    transition-duration: 0.25s;
}

.button-purple:hover, .button-purple:focus{
    color: #F14751;
    background-color:#18104B;
}

.col-two{
    width: 100%;
    text-align: center;
    order: -1;
}

footer{
    background-color: #6C658F;
    text-align: center;
    padding: 3rem 4rem;
}

footer h3{
    font-family: 'Sen', sans-serif;
    font-size: 2rem;
    color: #FCF8E8;
}

footer p{
    font-weight: bold;
    font-size: 1.2rem;
    color: #FCF8E8;
}

footer img{
    max-width: 60%;
    height: auto;
    padding: 1rem 0rem 1rem 0rem;
}

.heading-banner{
    text-align: center;
    padding: 5rem 0rem 1rem 0rem;
    width: 90%;
    max-width: 890px;
    margin: auto;
}

.heading-banner img {
    width: 100%;
    max-width: 890px;
    margin: auto;
}

.heading-banner h1{
    font-size: 2.4rem;
}

.heading-banner p{
    font-family: 'Sen', sans-serif;
    color: #212141;
    font-weight: bold;
    font-size: 1.3rem;
}

.three-col-grid{
    display: grid;
    grid-template-columns:1fr;
    padding: 2rem 0rem 2rem 0rem;
    row-gap: 1.3rem;
    width: 100%;
    max-width: 890px;
    margin: auto;
}

.four-col-grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    padding: 2rem 0rem 2rem 0rem;
    row-gap: 1.3rem;
    width: 100%;
    max-width: 890px;
    margin: auto;
    text-align: left;
}

.four-col-grid h2{
    font-weight: bold;
    font-size: 1.2rem;
    color: #18104B;
}

.four-col-grid ul{
    line-height: 1.75rem;
}

.project-section{
    padding-bottom: 2rem;
}

.project-section p{
    line-height: 1.75rem;
    padding-bottom: 1.5rem;
}

.project-section h2{
    margin: 0rem 0rem 1rem 0rem;
}

.prompt-heading{
    margin: 1.5rem 0rem 1rem 0rem
}

.how-might-we-img{
    width: 100%;
    max-width: 890px;
    margin: auto;
    padding: 1rem 0rem 1.4rem 0rem;
}

.three-col-img{
    padding: 0rem 2rem 0rem 2rem;
    width: 100%;
    max-width: 295px;
}

.two-col-grid{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.two-col-img{
    text-align: center;
}

.two-col-img img{
    flex-direction: column;
    width: 100%;
    max-width: 445px;
    padding: 1rem;

}

.image-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.image-flex img{
    padding: 1rem;
}

.wire-img-top{
    width: 100%;
}

.wire-img-bottom{
    width: 100%;
}

.web-res-grid{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.res-grid-img-left img{
    max-width: 80%;
    height: auto;
}

.res-grid-img-right img{
    max-width: 100%;
    height: auto;
}


.button-center-container{
    text-align: center;
    padding: 2rem 0rem 4rem 0rem;
    margin-top: 2rem;
    border-top: 2px solid #60607B;
}


.button-flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.more-projects{
    padding-bottom:3rem;
}

.illustration-heading{
    padding-top: 1rem;
}
.illustration-page-banner-img{
    padding-top: 1rem;
}

.illustration-container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.illustration-type-heading{
    padding-top: 1rem;
}

.illustration-section{
    padding-bottom: 2rem;
}

.three-col-grid-illust{
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns:1fr;
    row-gap: 1.3rem;
    padding-bottom: 2rem;
    column-gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.three-col-img-illust{
    width: 100%;
    max-width: 400px;
}

.long-img-one{
    align-items: center;
    text-align: center;
    grid-template-columns:1fr;
    row-gap: 1.3rem;
    padding-bottom: 2rem;
    column-gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.long-img{
    width: 100%;
    max-width: 1200px;
}

.heading-banner .coc-banner-size{
    width: 100%;
    max-width: 580px;
    margin: auto;
    padding-bottom: 2rem;
}

iframe{
    width: 100%;
    height: 450px;
}

.bye-nary-heading{
    padding-top: 2rem;
}