* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }



 body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}


body{
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    color: #201D30;

}

h1{
    font-family: 'Quicksand', sans-serif;
    font-weight:bolder;
    color: #201D30;
    margin: 0;

}

h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    color: #201D30;

}

h3{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding-top: 3rem;
}

h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

h5{
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
}

p, ul, ol, a, figcaption{
    font-family: 'Mulish', sans-serif;
    font-size: 0.9rem;
}

figure{
    text-align: center;
}

figcaption{
    font-size: 0.90rem;
    font-style: italic;
    padding-bottom: 1.5rem;
}

/*ul{
    list-style: none;
}*/

.process-lists{
    margin: auto;
    padding-left: 1.5rem;
    line-height: 1.75rem;
}

.no-bullet{
    list-style: none;
}

.no-bullet li {
    font-size: 0.9rem;
    line-height: 1.2rem;
}

a{
    display: inline-block;
    color: #201D30;
    text-decoration: underline;
}

a:active, a:hover, a:focus{
    color: #6D67E4;
    text-decoration: none;
}



/*CSS RELATING TO THE LANDING/FRONT PAGE*/

nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 1rem;
    padding-bottom: 1rem;
}


.my-name a {
    padding: 10px 10px;
    transition:cubic-bezier(.755,.05,.855,.06),transform .1s cubic-bezier(.39,.575,.565,1);

}

.my-name a:active, .my-name a:hover, .my-name a:focus{
    transform: scale(1.1);
    
}


.nav-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.7rem;
    color: #201D30;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 10px 30px;
    transition:cubic-bezier(.755,.05,.855,.06),transform .1s cubic-bezier(.39,.575,.565,1);
}

.nav-menu a:active, .nav-menu a:hover, .nav-menu a:focus{
    color: #6D67E4;
    transform: scale(1.1);
}

/*HOME PAGE*/
.intro{
    display: grid;
    grid-template-columns: 1fr;
    /*grid-gap: 3rem;*/
}

.intro-img-container{
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
}

.intro-img-container img {
    max-width: 80%;
    height: auto;
}


.text-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.text-box h1{
    font-size: 2rem;
    font-weight: normal;
    line-height: 2.4rem;
}

.text-box p{
    padding-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.75rem;
}

.job-title-colour-illustrator{
    color: #46C2CB;
}

.job-title-colour-designer{
    color: #6D67E4;
}

.line-seperator{
    border-bottom: 2px solid #FFE9B1;
}

.project-grid{
    width: 90%;
    max-width: 1400px; 
    margin: auto;
}

.two-col-project-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.3rem;
    column-gap: 1.9rem;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding-top: 1.9rem;
}

.responsive-img{
    width: 100%;
    height: auto;
  
}

.flex-title{
    display: flex;
    flex-direction: column;
}

.project-description{
    padding-top: 0.5rem;
    font-size: 0.7rem;
}

.project-title{
    padding-top: 0.5rem;
}

.title-bold-colour{
    font-weight: bold;
}

.view-project{
    padding-top: 0.5rem;

}

.bird-contents{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bird-contents a img{
    transition: cubic-bezier(.755,.05,.855,.06),transform .1s cubic-bezier(.39,.575,.565,1);
}

.bird-contents a img:active, .bird-contents a img:hover, .bird-contents a img:focus{
    transform: scale(1.1);
}


.footer-line{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.bird-line{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 360px;
    float: left;
    padding-top: 1.4rem;
    column-gap: 2rem;
}

.footer-msg{
    padding-top: 1.4rem;
    text-align: left;
    color: #46C2CB;
}


/*ABOUT ME PAGE*/

.about-banner{
    background-color: white;
}

.about-image-container{
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
}

.about-image-container img{
    max-width: 100%;
    height: auto;
    padding: 2rem 1rem;
}

.about-me{
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 1rem;
}

.about-me-image{
    text-align: center;
}

.about-me img{
    max-width: 50%;
    height: auto;
}

.about-me-text{
    padding: 1.5rem 0rem;
}

.about-me-text h2{
    font-size: 1.5rem;
    padding-bottom: 1.3rem;
    font-weight: bolder;
}

.about-me-text p{
    font-size: 0.90rem;
    line-height: 1.75rem;
}

.about-footer-width{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}


/*ILLUSTRATION PORTFOLIO PAGE*/
.three-col-grid{
    display: grid;
    grid-template-columns:1fr;
    padding: 2rem 0rem 2rem 0rem;
    row-gap: 1.3rem;
    column-gap: 1.3rem;
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.illust-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4rem;
}

.illust-msg{
    padding-top: 2rem;
}

.project-hi-det{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.illust-info h1{
    padding-bottom: 1rem;
    border-bottom: 2px solid #201D30;

}

.project-hi-det h3{
    padding-top: 1rem;
}

.illustration-section{
    padding-top: 4rem;
}

.full-w-img{
    width: 100%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pride{
    width: 100%;
    max-width: 580px;
    margin: auto;
    padding-bottom: 2rem;
    text-align: center;
}

.cover-title{
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
}

.cover-date{
    color: #46C2CB;
}



/*VENICE BIENNALE*/
.project-banner-img{
    max-width: 100%;
}

.four-col-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0rem 2rem 0rem;
    row-gap: 1.3rem;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    text-align: left;
}

.case-study-container {
    padding-top: 4rem;
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.case-study-container p {
    padding-top: 0.9rem;
    line-height: 1.6rem;
}

.full-width-content{
    max-width: 100%;
    margin: auto;
    padding-top: 2rem;
}

.quote, .quote-author{
    color: #535362 ;
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

blockquote{
    font-size: 2rem;
}

.content-container{
    background-color: #F9F9FA;
    padding: 3rem 1rem 3rem 1rem;
}

.two-col-venice-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.3rem;
    column-gap: 1.9rem;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding-top: 4rem;
}

.box-item{
    background-color: #F9F9FA;
    color:#535362 ;
    border-radius: 0.1rem;
    padding: 1rem;
}

.box-item p {
    padding-top: 0;
}

.two-col-tg-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.3rem;
    column-gap: 1.9rem;
    width: 100%;
    max-width: 890px;
    margin: auto;
    padding-top: 1rem;
}