@media (min-width:26.563rem){

}

@media (min-width:31.25rem) {
    .landing-banner-heading{
        font-size: 2rem;
    }


}

@media (min-width:36.25rem){
    .image-flex{
        flex-direction: row;
    }
    
    .image-flex img{
        padding: 1rem;
    }
    
    
}

@media (min-width:36.563rem) {
    nav, .nav-menu{
        flex-direction: row;
    }
    nav{
        padding-bottom: 0rem;
    }

    .landing-banner{
        padding: 2rem 0rem;
    }

    
}

@media (min-width:39.5rem){

}

@media (min-width:43.75rem) {
    .about-me{
        grid-template-columns: 0.5fr 1fr; 
    }

    .three-col-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .four-col-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 47.938rem) {


}

@media (min-width:48rem){

    .landing-banner-heading{
        font-size: 2rem;
    }
    .landing-banner-tag{
        font-size: 1.4rem;
    }
    .intro-img-container img{
        max-width: 70%;
    }

    .landing-image-container img{
        max-width: 70%;
    }

    .text-box h2{
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .two-col-project-grid {
        grid-template-columns: 1fr 1fr;
        margin: auto;
        padding-top: 3;
    }
    .two-col-venice-grid{
        grid-template-columns: 0.3fr 0.7fr;
        margin: auto;
        padding-top: 3;
    }
    .two-col-tg-grid{
        grid-template-columns: 1fr 1fr;
    }

    .project-description{
        padding-top: 0.7rem;
        font-size: 0.9rem;
        max-width: 500px;
    }
    
    .flex-title{
        flex-direction: column;
        justify-content: space-between;
    }
    .view-project{
        padding-top: 0.5;
    }

    .footer-msg{
        padding-top: 1.4rem;
        max-width: 380px;
        text-align: right;
    }

    .illust-msg{
        max-width: 650px;
        text-align: left;
    }

    .footer-line{
        flex-direction: row;
    }

  


    .about-image-container img {
        max-width: 55%;
    }

    .about-me img{
        max-width: 50%;
    }

    .illust-info h1{
        width: 500px;
    }

    
}

@media (min-width:50.875rem) {
    .landing-banner {
        padding: 0rem;
    }
    .intro{
        grid-template-columns: 1.5fr 2fr;
        padding: 0rem 7rem;
    }
    .intro-img-container img {
        max-width: 90%;
    }
    .text-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
  .illust-info{
        flex-direction: row;
        column-gap: 4rem
    }
    .illust-msg{
        padding-top: 0;
    }

}


@media (min-width:56.25) {

    
}



@media (min-width:64rem) {
    .landing-banner-heading{
        font-size: 3rem;
    }
    .landing-image-container img{
        max-width: 45%;
    }
    .flex-title{
        flex-direction: row;
        justify-content: space-between;
    }
    
    .about-me{
        padding: 3rem 10rem;
    }
    .about-me img{
        max-width: 80%;
    }
    .about-me-text {
        padding: 1.5rem 3rem 1.5rem 0rem;
    }

    .about-me-text h2{
        font-size: 2rem;
        padding-bottom: 1.3rem;
    }



}

@media(min-width:81.25rem){

}

@media (min-width:90rem){

    .text-box h1{
        font-size: 3.4rem;
        line-height: 4rem;
    }
    
    .text-box p{
        padding-top: 1rem;
        font-size: 2rem;
        line-height: 3rem;
    }

    .about-me-text {
        padding: 1.5rem 16rem 1.5rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 



}



